

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f4f6f8;
    color: #333;
}

/* HERO sekce */
.hero {
    background: linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
    ), url("kasarny.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    text-align: center;
    color: white;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Tlačítko */
.btn {
    background-color: #1b3e21;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}

/* ================= NAVIGACE ================= */

.navbar {
    background-color: #0a5617;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin-bottom: 0;
    font-size: 25px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

.nav-image {
    width: 100px;
    height: auto;
    max-height: 60px;
    border-radius: 8px;
    object-fit: cover;
}

.nav-logo {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden; /* skryje prázdný element */
}

/* ================= OBSAH ================= */

main {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}

/* Úvod */
.intro {
    text-align: center;
    margin-bottom: 50px;
}

/* Karty */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.card {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    margin-top: 0;
}

.card a {
    text-decoration: none;
    color: #3a5a40;
    font-weight: bold;
}

/* ================= PATIČKA ================= */

footer {
    background-color: #1b3e21;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 1px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 sloupce stejné šířky */
    gap: 10px; /* mezera mezi obrázky */
    max-width: 1000px; /* volitelné, aby galerie nebyla moc široká */
    margin: 0 auto; /* vycentruje galerii */
}

.gallery img {
    width: 100%;   /* obrázky vyplní sloupec */
    height: auto;  /* zachová proporce */
    border-radius: 8px;
    object-fit: cover; /* vyplní rámeček a ořízne přebytek */
}